@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200&display=swap');


html, body {
    background: hsl(255, 15%, 15%);
}

html {
    height: 100%;
    width: 100%;
}

#content {
    position: absolute;
    left: 50%;
    height: 90%;
    width: 75%;
    transform: translate(-50%, 0);
    max-width: 42rem;
}

#timeline {
    height: 6rem;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 3rem;
    left: 0;
    display: auto;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: .5rem;
}

#timeline-bar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, 0);
    height: 7.5%;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, rgba(93,87,255,1) 100%);
    border-top: 3px solid hsl(255, 28%, 25%);
    border-bottom: 3px solid hsl(255, 28%, 25%);
}

.icon {
    height: 1.75rem;
    width: 1.75rem;
    border: 3px solid hsl(255, 28%, 25%);
    background-color: hsl(255, 10%, 30%);
    display: inline-block;
    position: absolute;
    top: 55%;
    left: 5px;
    transform: translate(0, -41.5%);
    border-radius: 100%;
    cursor: pointer;
    transition: ease-in-out .35s background-color;
}

.label {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%, 0);
    height: 2rem;
    width: 2rem;
    font-size: 12px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgba(255, 255, 255, .6);
}

.info {
    padding-top: 1rem;
    padding-bottom: 1.35rem;
    padding-left: 5%;
    padding-right: 5%;
    width: 90%;
    background-color: black;
    border-radius: .75rem;
    margin-bottom: 1rem;
    transition: background-color .10s ease-in;
    opacity: 0%;
    transition: opacity .4s;
    position: relative;
}

.info:hover {
    background-color: rgb(15, 15, 15);
}

#data-container {
    position: absolute;
    top: 11rem;
    width: 100%;
}

.imicon {
    font-size: .7rem;
    color: hsl(255, 15%, 50%);
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.info h1 {
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.5rem;
}

.info p {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.733);
    font-family: 'Be Vietnam Pro', sans-serif;
}

.icon.enabled {
    background-color: hsl(255, 20%, 60%);
}

#imageview {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    z-index: 5;
    border: .5rem solid rgba(0, 0, 0, 0.5);
    border-radius: .75rem;
    opacity: 0;
    transition: opacity .25s linear;
    max-width: 30rem;
    pointer-events: none;
    width: 90vw;
    min-height: 2rem;
}

#imageview img {
    width: 90vw;
}

#imageview.enabled, #imageview-caption.enabled {
    opacity: 1;
    pointer-events: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
#imageview-caption {
    position: fixed;
    top: 61%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Nunito', sans-serif;
    font-weight: normal;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 0.35rem;
    border-radius: .75rem;
    transition: opacity .25s linear;
}

div#feedback {
    position: fixed;
    right: 10px;
    bottom: 10px;
    height: 9rem;
    width: 19rem;
    padding: 1rem;
    background: black;
    border-radius: 1rem;
    z-index: 5;
    transition: opacity .5s ease;
}

div#feedback.enabled {
    opacity: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@700&display=swap');

div#feedback h1 {
    font-family: 'Readex Pro', sans-serif;
    color: white;
    font-size: 25px;
    margin: unset;
}

#feedback-textarea {
    resize: none;
    width: 97.5%;
    height: 5.8rem;
    margin-top: .3rem;
    background: none;
    border-radius: .3rem;
    border: 2px solid gray;
    color: white;
}

grammarly-extension {
    display: none;
}

#feedback-submit {
    font-family: 'Readex Pro', sans-serif;
    font-weight: 700;
    position: absolute;
    right: 1.3rem;
    bottom: 1.45rem;
    padding: .15rem;
    color: white;
    background: unset;
    border: unset;
    cursor: pointer;
}